@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none !important;
    box-sizing: border-box;
}

/* ==========Root============ */
:root {
    /* font-size */
    --fs-2xsm: 14px;
    --fs-xsm: 16px;
    --fs-sm: 18px;
    --fs-xmd: 20px;
    --fs-md: 28px;
    --fs-lg: 30px;
    --fs-xl: 50px;
    --fs-xxl: 65px;
    --text-ffffff: #ffffff;
    --text-32352c: #32352c;
    --text-666666: #666666;
    --text-FFBA3B: #FFBA3B;
    --text-F2EFF4: #F2EFF4;
    --text-000000: #000000;
    --bg-first: linear-gradient(0deg, #E0480A 0%, #E0480A 100%), linear-gradient(0deg, #EFB93B 0%, #EBA43B 53.63%, #E9973B 100%), #D9D9D9;
    --bg-second: #4D86DC;
    --bg-third: #364EC6;
    --bg-forth: linear-gradient(0deg, #6A3DAD 0%, #6A3DAD 100%), linear-gradient(90deg, #2D367D 0%, #384CB1 100%);
    --bg-fifth: linear-gradient(0deg, #ED5C83 0%, #ED5C83 100%), linear-gradient(90deg, #2D367D 0%, #384CB1 100%);
    --bg-sixth: linear-gradient(0deg, #EFB93B 0%, #EFB93B 100%), #D9D9D9;
}

.fs-2xsm {
    font-size: var(--fs-2xsm);
}

.fs-xsm {
    font-size: var(--fs-xsm);
}

.fs-sm {
    font-size: var(--fs-sm);
}

.fs-xmd {
    font-size: var(--fs-xmd);
}

.fs-md {
    font-size: var(--fs-md);
}

.fs-lg {
    font-size: var(--fs-lg);
}

.fs-xl {
    font-size: var(--fs-xl);
}

.fs-xxl {
    font-size: var(--fs-xxl);
}

.text-ffffff {
    color: var(--text-ffffff);
}

.text-32352c {
    color: var(--text-32352c);
}

.text-666666 {
    color: var(--text-666666);
}

.text-FFBA3B {
    color: var(--text-FFBA3B);
}

.text-F2EFF4 {
    color: var(--text-F2EFF4);
}

.text-000000 {
    color: var(--text-000000);
}

.bg-first {
    background: var(--bg-first);
}

.bg-second {
    background-color: var(--bg-second);
}

.bg-third {
    background-color: var(--bg-third);
}

.bg-forth {
    background: var(--bg-forth);
}

.bg-fifth {
    background: var(--bg-fifth);
}

.bg-sixth {
    background: var(--bg-sixth);
}

/* ======Root End============ */
/* ===========Common Classes================== */
.ff-Montserrat {
    font-family: "Montserrat";
}

.footer {
    font-family: "Montserrat";
    font-weight: 400;
    color: var(--text-32352c);
    font-size: var(--fs-xsm);
}

/* ================================= */
/* =======Section Forth============= */
.read-white-paper-btn {
    padding: 11px 24px;
    border-radius: 50px;
    background-color: white;
    transition: all 500ms linear;
}

.whitepaper-bg {
    background-image: url(/assets/images/png/whitepaper-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.read-white-paper-btn:hover {
    background-color: #FFBA3B;
    color: white;
}

.white-paper-arrow-abs {
    position: absolute;
    left: 31%;
    top: 56%;
}

.arrow-right-abs {
    position: absolute;
    right: 1%;
    top: 10%;
}

.animation-css {
    animation-name: up-down;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes up-down {
    0% {
        transform: translatey(-10px);
    }

    100% {
        transform: translateY(10px);
    }
}

/* ========End================ */
/* ===========Fifth Section=========== */
.roadmap-container {
    max-width: 1360px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.roadmap-box {
    width: 207px;
    height: 180px;
    padding: 8px 12px;
    border-radius: 14.91px;
    cursor: pointer;
    transition: all 300ms linear;
}

.roadmap-box:hover {
    opacity: 1 !important;
}

.roadmap-left-abs {
    position: absolute;
    left: 0;
    top: -2%;
}

.roadmap-right-abs {
    position: absolute;
    right: 0;
    bottom: -40%;
    z-index: -1;
}

.roadmap-arrow-abs {
    position: absolute;
    right: 3%;
    top: 5%;
}

.arrow {
    animation-name: arrow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes arrow {
    0% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(10deg);
    }
}

/* ==========End================= */
/* ======Sixth Section========= */
.time-box {
    padding: 10px 21px 9px 20px;
    border-radius: 10px;
    border: 1px solid #ffffff;
    line-height: 174%;
    display: inline-block;
}

.countdown-bg {
    background-image: url(/assets/images/png/countdown-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.line-height-174 {
    line-height: 174%;
}

.buy-wuao {
    padding: 11px 21px;
    background-color: #ffffff;
    border-radius: 50px;
    transition: all 500ms linear;
}

.buy-wuao:hover {
    background-color: #FFBA3B;
    color: white;
}

/* ============End============== */
/* ========Seventh Sextion========= */
.tokenomics-left-abs {
    position: absolute;
    left: 0;
    top: -4%;
}

.tokenomics-right-abs {
    position: absolute;
    right: 0;
    bottom: -34%;
}

.tokenomics-arrow-abs {
    position: absolute;
    left: 1.5%;
    bottom: 17%;
}

/* ===============End=============== */
/* ===========Eight Section============ */
.partner-bg {
    background-image: url(/assets/images/png/partener-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

/* ==============Section end====== */
/* =========Footer Start============ */
footer ul li a {
    position: relative;
    transition: all 500ms linear;
}

footer ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -3px;
    background-color: #FFBA3B;
    transform: scaleX(0);
    transition: all 500ms linear;
}

footer ul li a:hover {
    color: #FFBA3B;
}

footer ul li a:hover::after {
    transform: scaleX(1);
}

hr {
    color: pink;
    height: 10px;
}

.social-icon-box {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFBA3B;
    transition: all 500ms linear;
}

.social-icon-box:hover {
    background-color: white;
    box-shadow: 0px 3px 3px 4px rgba(255, 186, 59, 1);
}

.social-icon-box:hover path {
    fill: #FFBA3B;
}

.line-height {
    line-height: 174%;
}

.left-shadow-abs {
    position: absolute;
    left: 0;
    top: -20%;
    z-index: -1;
}

.right-shadow-abs {
    position: absolute;
    right: 0;
    bottom: 0;
}

.arrow-abs {
    position: absolute;
    left: 22%;
    bottom: 3%;
}

/* ==========Footer End============= */
/* ==========Media Quries============ */
@media (min-width:1200px) {
    .team-abs {
        position: absolute;
        left: 22%;
        top: 19%;
    }

    .community-abs {
        position: absolute;
        right: 8%;
        top: 37%;
    }

    .founder-abs {
        position: absolute;
        left: 8%;
        bottom: 33%;
    }

    .workers-abs {
        position: absolute;
        right: 54%;
        bottom: 5%;
    }
}

@media (max-width:768) {
    :root {
        /* font-size */
        --fs-xl: 40px;
        --fs-xxl: 55px;
    }
}

@media (max-width:576px) {
    .w-sm-100 {
        width: 100%;
    }

    :root {
        /* font-size */
        --fs-md: 22px;
        --fs-lg: 24px;
        --fs-xl: 25px;
        --fs-xxl: 40px;
    }

    .time-box {
        padding: 7px 10px 8px 10px;
        line-height: 100%;
    }
}